.heading {
  padding: 10px 0;
  width: 100%;
  margin-bottom: 1px;
  background: #a92828;
  font-family: sans-serif;
  box-shadow: 0px 0px 4px 0px black;
  color: white;
  cursor: pointer;
}

.content {
  margin-left: 10px;
}

.heading:hover {
  background: #3c1b1b;
}

.selected {
  background: #3c1b1b;
}
